@import "tailwindcss";
@import "tw-animate-css";

:root {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
}

.logo-name {
  font-family: var(--font-science-gothic);
}

#hero-section {
  background-image: url("../public/bg-hero.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

#system-section {
  background-image: url("/bg-system.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
